<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
            <meta name="description" content="{{ header.description }}">
        {% else %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
            <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Bootstrap core CSS #}
            {% do assets.add('theme://css/main.css',101) %}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('theme://js/all.js') %}

            {{ assets.js() }}
        {% endblock %}

    {% endblock head %}
</head>

<body class="m-scene page" id="main">
{% block body %}
    <section id="body" class="{{ class }}">
        <!--[if lt IE 11]>
        <div class="old-browser">
            <h2 class="bigger red">Whoaaaaa man...</h2>
            <p>Switch to another browser, or you might get hurt!!!</p>
        </div>
        <![endif]-->
        <div id="loader">
            <figure>
                <img src="{{ url('theme://images/logo-white.svg') }}" alt="Collab Ventures">
            </figure>
        </div>
        {% block content %}{% endblock %}
    </section>
    <div id="back-top">
        <a href="#top"><span class="icon icon-arrow-up4"></span><span class="fade">TOP</span></a>
    </div>
{% endblock %}
</body>

{% block bottom %}{% endblock %}
</html>