<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
            <meta name="description" content="{{ header.description }}">
        {% else %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
            <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Bootstrap core CSS #}
            {% do assets.add('theme://css/main.css',101) %}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('theme://js/all.js') %}

            {{ assets.js() }}
        {% endblock %}

    {% endblock head %}
</head>

<body>

<body class="m-scene page" id="main">
<!--[if lt IE 11]>
<div class="old-browser">
    <h2 class="bigger red">Whoaaaaa man...</h2>
    <p>Switch to another browser, or you might get hurt!!!</p>
</div>
<![endif]-->
<div id="loader">
    <figure>
        <img src="{{ url('theme://images/logo-white.svg', true) }}" alt="Collab Ventures">
    </figure>
</div>

<main class="wrapper page-title">
    <!-- navigation -->
    <div id="logo">
        <a href="/" title="Collab Ventures">
            <figure>
                <img src="{{ url('theme://images/logo-dark.svg', true) }}" alt="Collab Ventures">
            </figure>
        </a>
    </div>
    <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- navigation -->
    <div class="menu-trigger">
        <nav id="menu" class="cl-effect-3">
            <ul class="menu">
                <li class="m-1"><a href="/" data-type="page-transition">Home</a></li>
                <li class="m-2"><a href="portfolio.html" data-type="page-transition">Portfolio</a></li>
                <li class="m-3"><a href="about.html" data-type="page-transition">About</a></li>
                <li class="m-4"><a href="contact.html" data-type="page-transition">Contact</a></li>
                <li class="menu-social">Connect with me
                    <ul>
                        <li class="s-1"><a href="https://www.facebook.com/colab-ventures" target="_blank" title="Facebook"><span class="icon-facebook"></span></a></li>

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- content -->
    <div class="m-page scene_element scene_element--fadeinup">
        <div class="et-wrapper">
            <section class="et-page" id="page-1" data-et-id="1">
                <img class="title-bg wow fadeInRight" data-wow-delay="0.25s" src="{{ url('theme://images/title-bg-cyan.jpg', true) }}" alt="background image" />
                <div class="page-wrap">
                    <h1 class="wow fadeInUp">Hi, We are <span class="cyan">Collab</span> Ventures</h1>
                    <div class="title-subhead wow fadeInUp">
                        <p>I am <strong>self-educated Web/UI Designer, Thinker and Problem solver with a huge passion to digital craftsmanship</strong>. I love perfection and I iterate like a freak. I produce intuitive and functional products that help your daily business.</p>
                        <div class="h-wrap">
                            <a href="portfolio.html" class="button h-button">Show portfolio<span></span></a>
                        </div>
                    </div>
                </div>
                <div class="trigger trigger-down et-rotate" et-in="moveFromBottomFade" data-page-id="2" et-out="rotateFoldTop">
                    <div>My Clients </div>
                    <span class="icon-arrow-down2"></span>
                </div>
            </section>
            <section class="et-page" id="page-2" data-et-id="2">
                <div class="trigger trigger-up et-rotate" et-in="moveFromTopFade" data-page-id="1" et-out="rotateFoldBottom">
                    <span class="icon-arrow-up2"></span>
                    <div>Designer </div>
                </div>
                <div class="trigger trigger-down et-rotate" et-in="moveFromBottomFade" data-page-id="3" et-out="rotateFoldTop">
                    <div>Contact me</div>
                    <span class="icon-arrow-down2"></span>
                </div>
                <img class="title-bg" src="{{ url('theme://images/title-bg-red.jpg', true) }}" alt="background image" />
                <div class="page-wrap">
                    <h1>Strong <span class="red">brands</span></h1>
                    <div class="title-subhead">

                        <p>I was honored to work for the biggest brands in the Slovak market. It helps me to understand client's business and choose the right approach for improvement</p>

                        <div class="partners">
                            <a href="http://www.joj.sk/" target="_blank" title="TV JOJ">
                                <figure >
                                    <img src="{{ url('theme://images/partners/part-joj.png', true) }}" alt="TV JOJ" />
                                </figure>
                            </a>
                            <a href="http://efabrica.sk/" target="_blank" title="eFabrica">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-efabrica.png', true) }}" alt="eFabrica" />
                                </figure>
                            </a>
                            <a href="http://www.hcslovan.sk/" target="_blank" title="HC Slovan">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-slovan.png', true) }}" alt="HC Slovan" />
                                </figure>
                            </a>
                            <a href="http://www.empire-skola.sk/" target="_blank" title="Empire know-how institute">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-empire.png', true) }}" alt="Empire know-how institute" />
                                </figure>
                            </a>
                            <br />
                            <a href="https://www.streamstar.com/" target="_blank" title="Streamstar">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-streamstar.png', true) }}" alt="Streamstar" />
                                </figure>
                            </a>
                            <a href="http://www.gadrilling.com/" target="_blank" title="GA Drilling">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-drilling.png', true) }}" alt="GA Drilling" />
                                </figure>
                            </a>
                            <a href="http://unterkunft-suche.eu/index.html" target="_blank" title="Unterkunft suche">
                                <figure>
                                    <img src="{{ url('theme://images/partners/part-unterkunft.png', true) }}" alt="Unterkunft suche" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="et-page" id="page-3" data-et-id="3">
                <div class="trigger trigger-up et-rotate" et-in="moveFromTopFade" data-page-id="2" et-out="rotateFoldBottom">
                    <span class="icon-arrow-up2"></span>
                    <div>Clients </div>
                </div>
                <img class="title-bg" src="{{ url('theme://images/title-bg-blue.jpg', true) }}" alt="background image" />
                <div class="page-wrap">
                    <h1>I build  <span class="blue">partnerships</span></h1>
                    <div class="title-subhead">
                        <p>I am honest, &amp; discreet "engineer" focusing on your goals. I like to communicate, cooperate and build long-term partnerships</p>
                        <div class="h-wrap">
                            <a href="contact.html" class="button h-button">Let's work<span></span></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
</body>

{% block bottom %}{% endblock %}
</html>