{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<main class="wrapper page-title">

			{% include 'partials/navigation.html.twig' %}

			<!-- content -->
			<div class="m-page scene_element scene_element--fadeinup">
				<div>
					<!-- about -->
					<section class="content-med tb-offset">
						<div class="left w25 wow fadeInLeft" data-wow-delay="0.35s">
							<div class="services green">
								<h3>The Team</h3>
								<br class="clear" />
							</div>
						</div>
						<div class="right w60 wow fadeInRight" data-wow-delay="0.35s">
							<p class="big">Firstly we are a team, we all play a part in choosing the companies we work with as ultimately at some stage we all will, we don’t like over inflated job titles.

								We listen intensly, we speak frankly, but more importantly directly and honestly.</p>

							<h4>Hadleigh Bolt</h4>
							<p class="big">
								Here is some text about Hadleigh.
							</p>
							<a href="https://www.linkedin.com/in/hadleigh-bolt-66b5967"><img src="{{ url('theme://images/linkedin.svg') }}" alt="linkedin"/></a>

							<h4>Peter Culak</h4>
							<p class="big">
								Here is some text about Peter.
							</p>
							<a href="https://uk.linkedin.com/in/peterculak"><img src="{{ url('theme://images/linkedin.svg') }}" alt="linkedin"/></a>
							<a href="https://github.com/peterculak"><img src="{{ url('theme://images/github.svg') }}" alt="github"/></a>

							<h4>Francis Gane</h4>
							<p class="big">
								Here is some text about Francis.
							</p>
							<a href="https://www.linkedin.com/in/francisgane1"><img src="{{ url('theme://images/linkedin.svg') }}" alt="linkedin"/></a>

							<h4>Ciaran Kelly</h4>
							<p class="big">
								Here is some text about Ciaran.
							</p>
							<a href="https://uk.linkedin.com/in/ciarankelly"><img src="{{ url('theme://images/linkedin.svg') }}" alt="linkedin"/></a>
							<a href="http://github.com/ck99"><img src="{{ url('theme://images/github.svg') }}" alt="github"/></a>

						</div>
						<br class="clear" />
					</section>
				</div>
			</div>
		</main>
	{% endblock %}

{% endembed %}
